
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>



@*<div>
    <h3>Форма оформлення покупки</h3>
    <form method="post" action="">
        <input type="hidden" value="@ViewBag.CreamId" name="CreamId"/>
        <table>
            <tr><td><p>Введіть своє імя</p></td>
                <td><input type="text" name="Person"/></td></tr>
            <tr><td><p>Введіть адресу</p></td>
                <td><input type="text" name="Address"/></td></tr>
            <tr><td><input type="submit" value="Відправити"/></td></tr>
        </table>
    </form>
</div>*@

@using (Html.BeginForm("Buy", "Home", FormMethod.Post))
{
    <input type="hidden" value="@ViewBag.CreamId" name="CreamId"/>
    <p>Введіть своє імя</p>
    @Html.TextBox("Person","Введіть імя")
    <p>Введіть свою адресу</p>
    @Html.TextBox("Address", "Введіть адресу")
    <p><input type="submit" value="Відправити"/></p>
}

