@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="wisth=device-width"/>
    <title>Магазин Делав</title>
</head>
<body>
<div>
    <h3>Продажа кремов</h3>
    <table>
        <tr><td>
                <p>Назва крему</p></td>
            <td>
                <p>Автор</p></td>
            <td>
                <p>Ціна</p></td>
        </tr>
        @foreach (var c in ViewBag.Creams)
        {
            <tr>
                <td>
                    <p>@c.Name</p></td>
                <td>
                    <p>@c.Author</p></td>
                <td>
                    <p>@c.Price</p></td>
                <td>
                    <p><a href="/Home/Buy/@c.CreamId">Придбати</a>
                    </p></td>
            </tr>

        }
    </table>
</div>
</body>
</html>